html {
    font-family: 'Roboto', sans-serif; 
    margin: auto  
}

body{
    margin: auto; 
}

.login {
    width: 50%;
    background-color: rgb(87, 85, 85);
    font-family: 'Ubuntu', sans-serif;


}

.titulos {

}

.usuesenha{
    margin: auto;
}
/* CAIXA MODEL BOX 

display: flex - Alinha um elemento do lado do outro.
align-itens: center- Alinha os elementos no centro
Justify-content: Space-between - Coloca espaços entre os elementos.

*/