<!DOCTYPE html>
<html>

<head>
    <title>Cadastro</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style/style_cad.css">
    <link href="https://fonts.googleapis.com/css?family=Inter|Roboto+Condensed&display=swap" rel="stylesheet">
</head>

<body>

    <header></header>

    <main>
        <section class="cadastro">
            <h2>Informações pessoais</h2>
            <form action="/">
                <div>
                    <label>CEP</label>
                </div>
                <div>
                    <input type="text" id="nome" class="input_cad" name="nome">
                </div>
                <div>
                    <label>Bairro</label>
                </div>
                <div>
                    <input type="text" class="input_cad" id="bairro" name="Idade">
                </div>
                <div>
                    <label>Endereço</label>
                </div>
                <div>
                    <input id='endereco' type="text" class="input_cad" name="endereco">
                </div>
                <div>
                    <label>Cidade</label>
                </div>
                <div>
                    <input type="text" id="cidade" class="input_cad" name="idade">
                </div>
                <div>
                    <label>Estado</label>
                </div>
                <div>
                    <input type="text" id="estado" class="input_cad" name="cpf">
                </div>

            </form>
            <button class="botao" id="cadastrar">Cadastrar</button>
        </section>
    </main>
    <footer>
    </footer>
    <script type="text/javascript" src="../Model/model.js"></script>
    <!--
	<script type="text/javascript" src="../Controller/controller.js"></script>
	-->
    <script src="../Model/cadastro.js"></script>
</body>

</html>