<!DOCTYPE html>
<html lang="pt_br">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> :::::xxxxx</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">

    
    <link rel="stylesheet" href="/View/styles/main.css">

</head>
<body>
    <divi class="content titulos">
        <h1 >Seja Bem Vindo ao Pedidos</h1>

        <h2>Faça o login para ter acesso ao ambientes de pedidos</h2>
    </divi>
    
    
    <divi>
        <header>
            <h3>Login</h3>
        </header>  

        <div class="content login">
            <div class="content usuesenha">
                <div>
                    <label>Usuario</label>
                </div>
                <div>
                    <input type="text" id="usuario" class="input_cad" name="usuario">
                </div>
                
                <div>
                    <label>Senha</label>
                </div>
                <div>
                    <input type="text" id="senha" class="input_cad" name="senha">
                </div>
                <div>
                    <button class="botao" id="Login">Login</button>
                </div>

            </div>
        </div>
    </divi>
</body>
</html>